{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
      <h3>Innovative Curl Type Quizzes</h3>
  </div>
  <br>

      <div>
      <ol>
        <h4><li> <a href="https://www.naturallycurly.com/quiz" target="_blank" >Naturally Curly Texture Quiz</a></li></h4>
        <p>This quiz gives a ton of details on you hair. From the curl pattern to porosity and density.</p>
        <br>
        <h4><li> Naturally Curly Texture Quiz</li></h4>
        <p>This quiz gives a ton of details on you hair. From the curl pattern to porosity and density.</p>
        <br>
        <h4><li> Naturally Curly Texture Quiz</li></h4>
        <p>This quiz gives a ton of details on you hair. From the curl pattern to porosity and density.</p>
        <br>
        <h4><li> Naturally Curly Texture Quiz</li></h4>
        <p>This quiz gives a ton of details on you hair. From the curl pattern to porosity and density.</p>
      </ol>
      </div>


{% endblock content %}
